@import '_mixins';
@import '_normalize';

$font-weight: 400;
$font-size: 16px;
$line-height: 20px;
$font-family: 'ProximaNova', sans-serif;
$color: #0e0e0e;

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Supermolot';
  src: url("../fonts/Supermolot/Supermolot.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.ttf?3z1puj') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tag:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-fb:before {
  content: "\e902";
}
.icon-inst:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e906";
}
.icon-skype:before {
  content: "\e908";
}
.icon-yt:before {
  content: "\e90a";
}
.icon-uniE830:before {
  content: "\e830";
}
.icon-uniEA47:before {
  content: "\ea47";
}

html{
  overflow-x: hidden;
  &.overflow{
    height: auto;
    position: relative;
    overflow: hidden !important;
    body{
      height: auto;
      position: relative;
      overflow: hidden !important;
    }
  }
}
body{
  font-family: $font-family;
  font-weight: $font-weight;
  font-size:$font-size;
  background-color: #ffffff;
  line-height: $line-height;
  color:$color;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
}

/*styles*/
.wrapper{
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}
input,button,textarea{
  font-family: $font-family;
}

span,a,label{
  display: inline-block;
  vertical-align: middle;
}

.flex-c{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-c-c{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-s{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.wb-title{
  font-size: 36px;
  line-height: 44px;
  font-family: 'Supermolot', sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.wb-title__small{
  font-size: 30px;
  line-height: 1;
  font-family: 'Supermolot', sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.wb-text{
  line-height: 20px;
  font-size: 16px;
  &+.wb-text{
    margin-top: 20px;
  }
}
.wb-btn{
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: #dd2121;
  width: 345px;
  font-weight: 600;
  height: 54px;
  transition: background .3s,color .3s;
  &.btn-simple{
    background: #fff;
    color: #dd2121;
    border:2px solid #dd2121;
    width: 350px;
    &.disabled{
      visibility: hidden;
    }
  }
  &.btn-black{
    background: #fff;
    color: #0e0e0e;
    border:2px solid #0e0e0e;
    width: 350px;
  }
  i{
    font-size: 14px;
    margin-right: 9px;
  }
}
.hamburger{
  width: 44px;
  height: 33px;
  z-index: 98;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: none;
    &.active{
       span{
        background: #fff;
        width:100%!important;
          &:nth-child(1) {
            transform: rotate(-44deg);
            top: 0px;
            right: 1px;
          }
          &:nth-child(2) {
            opacity: 0;
            transform: translateX(-100%)!important;
          }
          &:nth-child(3) {
            transform: rotate(44deg);
            top: 30px;
            right: 1px;
          }
       }
    }
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 44px;
      background: #fff;
      opacity: 1;
      right: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out , width .25s;
        &:nth-child(1) {
          top: 0px;
          transform-origin: right center;
        }
        &:nth-child(2) {
          top: 10px;
          left: 0;
          right: auto;
          transition: transform .3s , opacity .3s ;
        }
        &:nth-child(3) {
          top: 20px;
          transform-origin: right center;
        }
    }
}
/*===================*/

/*HEADER*/
.header{
  position: relative;
  z-index: 50;
  .mobile-img{
    display: none;
    width: 177px;
    height: 90px;
    margin: auto;
  }
  &-content{
    padding-top: 20px;
    &__menu{
      justify-content: center;
    }
  }
  &-logo{
    width: 265px;
    img{
      display: block;
      margin: auto;
      width: 195px;
      height: 100px;
    }
  }
  &-list{
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    &__item+&__item{
      margin-left: 30px;
    }
    &__item{
      color: #fff;
      transition: color .3s;
    }
  }
}
/*===================*/

/*MAIN*/
.main{
  position: relative;
  z-index: 1;
  &__bg{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
    span{
      border-left: 1px solid #f2f5fa;
      height: 100%;
      width: 25%;
      &:last-child{
        border-right: 1px solid #f2f5fa;
      }
    }
  }
}
/*.main-frst*/
.main-frst{
  color: #fff;
  height: 770px;
  background: url(../img/main-frst__bg.jpg) 50% 0% no-repeat;
  background-size: cover;
  margin-top: -120px;
  padding-top: 260px;
  margin-bottom: 90px;
  .title{
    font-family: 'Supermolot', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 70px;
    width: 70%;
    margin-bottom: 35px;
  }
  .description{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
/**/
/*main-scnd content*/
.main-scnd{
  margin-bottom: 145px;
  &__top{
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .wb-btn{
    .text{
      &:before{
        content:'Показать все цены';
      }
    }
    &.active{
      .text{
        &:before{
          content:'Скрыть все цены';
        }
      }
    }
  }
}
.title-block{
  width: 52.3%;
}
.price-block{
  width: 950px;
  height: 417px;
  margin: auto;
  position: relative;
}
.circle-list__item{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #dd2121;
  cursor: pointer;
  transition: background .3s;
  transition-delay: .2s;
  &.active{
    background: #1f5192;
    transition-delay: 0s;
  }
  &.hood{
    top: 48%;
    left: 17.4%;
  }
  &.bumper{
    left: 1.05%;
    top:26%;
  }
  &.headlight{
    top: 73.14%;
    left: 1.05%;
  }
  &.front-glass{
    top: 47.3%;
    left: 28.4%;
  }
  &.front-fender{
    top: 91.1%;
    left: 24.2%;
  }
  &.mirror{
    top: -11px;
    left:  32%;
  }
  &.panel{
    top: 4.3%;
    left: 62.11%;
  }
  &.window{
    top: 80.8%;
    left: 52.6%;
  }
  &.door{
    top: 90.4%;
    left: 57.7%;
  }
  &.roof{
    top: 52%;
    left: 56.8%;
  }
  &.knob{
    top: 4.8%;
    left: 70.5%;
  }
  &.trunk{
    top: 28.3%;
    left: 92.6%;
  }
  &.back-glass{
    top: 48%;
    left: 86.8%;
  }
  &.back-fender{
    top: 88%;
    left: 88.4%;
  }
}
.list-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
.price-list{
  &__item{
    width: 245px;
    height: 100px;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity .3s;
    &.active{
      opacity: 1;
      transition-delay: .2s;
    }
    &:before{
      content:'';
      display: block;
      width: 16px;
      height: 4px;
      background: #1f5192;
      position: absolute;
      left: -10px;
      top: calc(50% - 6px);
      transform: translateY(-50%);
    }
    &+.list-title{
      margin-top: 40px;
    }
    .title{
      font-size: 15px;
      text-transform: uppercase;
      align-self: flex-end;
    }
    .price{
      font-size: 18px;
      font-weight: 600;
      width: 100%;
      align-self: flex-start;
      transition: color .3s;
    }
    .mobile-text{
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
      display: none;
    }
    &.hood{
      left: -84px;
      top: 166px;
    }
    &.bumper{
      top: 75px;
      left: 38px;
    }
    &.headlight{
      top: 271px;
      left: 38px;
    }
    &.front-glass{
      top: 163px;
      left: 298px;
    }
    &.front-fender{
      top: 346px;
      left: 258px;
    }
    &.mirror{
      top: -45px;
      left: 54px;
    }
    &.panel{
      left: 340px;
      top: -16px;
    }
    &.window{
      top: 280px;
      left: 525px;
      &:before{
        width: 24px;
        left: -7px;
        top: 50%;
        transform: translateY(-50%) rotate(134deg);
        transform-origin: 8px;
      }
    }
    &.door{
      top: 377px;
      left: 585px;
      &:before{
        width: 60px;
        left: -8px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: 36px -36px;
      }
    }
    &.roof{
      top: 183px;
      left: 568px;
    }
    &.knob{
      top: -14px;
      left: 698px;
    }
    &.trunk{
      top: 84px;
      left: 629px;
    }
    &.back-glass{
      top: 166px;
      left: 853px;
    }
    &.back-fender{
      top: 333px;
      left: 868px;
    }
  }
}
.chevron{
  background:url(../img/chevron.png) 50% 50% no-repeat;
  background-size: 100% 100%;
  padding:0px 15px 10px 70px;
}
.chevron-reverse{
  background:url(../img/chevron-reverse.png) 50% 50% no-repeat;
  background-size: 100% 100%;
  padding:0px 70px 10px 25px;
  &:before{
    left:auto;
    right: -6px;
  }
}
/**/
/*.main-third*/
.main-third{
  margin-bottom: 135px;
  &__preview{
    margin-bottom: 30px;
  }
  .slider-card{
    margin-left: 2px;
    height: 310px;
    background: 50% 50% no-repeat;
    background-size: cover;
    outline: none;
  }
  .slick-list{
    margin-left: -2px;
  }
  &__slider{
    overflow:hidden;
    padding-bottom: 60px;
  }
}
.block-description{
  width: 42.8%;
  padding-right: 90px;
}
.block-bg{
  background: 50% 50% no-repeat;
  background-size: cover;
  width: 57.2%;
  height: 320px;
  border: 1px solid #dddddd;
}
/**/
/*main-fourth content*/
  .main-fourth{
    margin-bottom: 140px;
    .completed-card{
      position: relative;
      height: 145px;
      border:1px solid #dddddd;
      margin-left: 30px;
      &__content{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: 50% 50% no-repeat;
        background-size: cover;
      }
    }
    .slick-list{
      margin-left: -314px;
    }
    &__slider{
      overflow: hidden;
      padding-bottom: 60px;
    }
    &__preview {
      justify-content: flex-end;
      margin-bottom: 30px;
    }
  }
  .active-slide{
    background: #222;
    width: calc(50% - 15px);
    height: 338px;
    position: relative;
    border:1px solid #dddddd;
  }
  .preview-description{
    margin-left: 30px;
    width: calc(50% - 15px);
    .wb-text{
      height: 80px;
      overflow: hidden;
    }
    .wb-btn{
      margin-top: 35px;
    }
  }
/**/
/*main-reviews content*/
.main-reviews{
  margin-bottom: 140px;
  .wb-btn{
    margin: 30px 0 0 auto;
  }
}
.review-container{
  margin: 0 0 -30px -30px;
}
.reviews-card{
  position: relative;
  background: #fff;
  margin: 0 0 30px 30px;
  width: calc(33.33% - 30px);
  height: 220px;
  border: 1px solid #d9d9d9;
  &:nth-child(6)~ .reviews-card{
    display: none;
  }
  &>*{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
/**/
/*main-partners content*/
.main-partners{
  margin-bottom: 110px;
  &__content{
    margin: 0 0 -30px -30px;
  }
}
.partner-card{
  margin: 0 0 30px 30px;
  width: calc(25% - 30px);
  height: 170px;
  border:1px solid #d9d9d9;
  img{
    max-width: calc(100% - 2px);
    max-height: calc(100% - 2px);
  }
}
/**/
/*main-info content*/
.main-info{
  background: #1f5192;
  padding: 90px 0;
  color: #fff;
  margin-bottom: 140px;
  &__top{
    margin-bottom: 75px;
  }
  &__middle{
    margin-bottom: 40px;
    .text{
      columns: 2;
      column-gap: 70px;
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__bottom{
    justify-content: space-between;
  }
}
.block-info{
  width: 59.9%;
  img{
    width: 130px;
    height: 110px;
    margin-right: 40px;
  }
  .text{
    width: calc(100% - 240px);
    font-size: 18px;
  }
}
.block-aditional{
  width: 40.1%;
  .wb-title__small{
    width: 100%;
    padding-left: 55px;
  }
}
.aditional-content{
  width: 50%;
  text-align: center;
  img{
    display: block;
    margin: 0 auto 20px;
    height: 70px;
    width: 70px;
  }
  .text{
    font-size: 18px;
  }
}
/**/
/*main-warranty content*/
.main-warranty{
  margin-bottom: 140px;
  .wb-btn{
    margin-top: 26px;
  }
  .mobile-img{
    display: none;
  }
}
.warranty-img{
  width: calc(50% - 15px);
  height: 513px;
  margin-right: 30px;
}
.warranty-content{
  margin-top: -8px;
  width: calc(50% - 15px);
}
.warranty-list{
  margin: 30px 0;
  img{
    margin-right: 25px;
    width: 32px;
    height: 29px;
  }
  span{
    width: calc(100% - 57px);
  }
  &__item+&__item{
    margin-top: 15px;
  }
}
/**/
/*main-form content*/
.main-form{
  margin-bottom: 40px;
}
.contacts{
  width: 50%;
  &-content+&-content{
    margin-top: 18px;
  }
  .title{
    line-height: 1;
    margin-bottom: 7px
  }
  .text{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
  }
}
.form{
  width: 50%;
  .wb-title{
    width: 100%;
  }
  &-field+&-field{
    margin-left: 30px;
  }
  &-field{
    resize: none;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #d3d3d3;
    height: 39px;
    width: calc(50% - 15px);
    font-size: 16px;
    &::placeholder{
      color:#afafaf;
      font-size: 16px;
    }
  }
  textarea.form-field{
    width: 100%;
    height: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px 0 0 0;
  }
  .wb-btn{
    margin-top: 30px;
  }
}
/**/
/*map*/
#map{
  height: 500px;
  overflow: hidden;
  iframe{
    height: 750px;
    margin-top: -125px;
    width: 100%;
  }
}
/**/
/*slider*/
.slick-list{
  overflow: hidden;
}
/*===================*/
/*FOOTER*/
.footer{
  color: #fff;
  background: #1f1f1f;
  height: 160px;
  .wrapper{
    height: 100%;
  }
  &-contacts{
    width: calc(100% - 538px);
    font-size: 18px;
    .link+.link{
      margin-left: 85px;
    }
    i{
      margin-right: 10px;
      font-size: 16px;
    }
  }
  &-logo{
    margin-right: 110px;
    img{
      width: 128px;
      height: 66px;
    }
  }
  &-social{
    width: 300px;
    justify-content: space-between;
    &__item{
      width: 60px;
      height: 40px;
      text-align: center;
      border:1px solid #7c7c7c;
      transition: background .3s , border .3s;
      a{
        width: 100%;
        height: 100%;
      }
      i{
        line-height: 38px;
      }
    }
  }
}
/*===================*/
/*media*/
@media (min-width: 1025px){
  .header-list__item{
    &:hover{
      color: #dd3939;
    }
  }
  .wb-btn{
    &:hover{
      background:#ff0000;
    }
    &.btn-simple{
      &:hover{
        background:#dd2121;
        color: #fff;
      }
    }
    &.btn-black{
      &:hover{
        background:#0e0e0e;
        color: #fff;
      }
    }
  }
  .footer-social__item{
    &:hover{
      border: 1px solid #dd2121;
      background: #dd2121;
    }
  }
  .circle-list__item:not(.active){
    &:hover{
      background: #ff0000;
      transition-delay: 0s;
    }
  }
}
@media (min-width: 1140px){
  .animation-left,.animation-right,.animation-bottom{
    opacity: 0.6;
    transition: transform .6s , opacity .5s;
  }
  .animation-left{
    transform: translateX(-200px);
  }
  .animation-right{
    transform: translateX(200px);
  }
  .animation-bottom{
    transform: translateY(100px);
  }
  .js-animation.animate{
    .animation-left,.animation-right,.animation-bottom{
      opacity: 1;
      transform: translate(0px);
    }
  }
}
@media (max-width: 1279px){
  /*HEADER*/
  .header-list__item + .header-list__item {
    margin-left: 20px;
  }
  /**/
  /*main-scnd content*/
  .price-block{
    margin-bottom: 40px;
  }
  .price-list{
    width: 100%;
    position: absolute;
    top: calc(100% + 40px);
    &__item{
      width: 53%;
      height: auto;
      background: transparent;
      color: #0a0a0a;
      padding: 0;
      top: 0!important;
      left: 50%!important;
      transform: translateX(-50%);
      justify-content: space-between;
      &:before{
        display:none;
      }
      .title{
        align-self: auto;
        font-size: 20px;
        font-weight: 600;
      }
      .price{
        font-size: 22px;
        width: auto;
        align-self: auto;
        color: #1f5192;
      }
    }
  }
  .main-scnd__top .wb-btn{
    display: none;
  }
  .title-block{
    width: 82%;
    br{
      display: none;
    }
  }
  /**/
}
@media (max-width: 1139px){
  /*STYLES*/
  .wrapper{
    max-width: 720px;
  }
  .wb-title__small{
    margin-bottom: 28px;
  }
  /**/
  /*HEADER*/
  .header{
    .mobile-img{
      display: block;
    }
    &-content{
      position: relative;
      &__menu{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        background-image: -moz-linear-gradient( 90deg, rgb(11,33,62) 0%, rgb(18,49,89) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(11,33,62) 0%, rgb(18,49,89) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(11,33,62) 0%, rgb(18,49,89) 100%);
        padding: 20px 55px 90px 55px;
        overflow-x: hidden;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform .4s , opacity .6s;
        &.active{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    &-logo{
      order: 1;
      width: 100%;
      margin-bottom: 70px;
      img{
        width: 177px;
        height: 90px;
      }
      &+.header-list{
        width: 34%
      }
    }
    &-list{
      order: 2;
      width: 66%;
      flex-direction: column;
      align-items: flex-start;
      font-weight: 300;
      font-size: 20px;
      &__item+&__item{
        margin: 55px 0 0 0;
      }
    }
  }
  .hamburger{
    position: absolute;
    right: 35px;
    top: 50px;
    display: block;
    z-index: 90;
  }
  /*==================*/
  /*MAIN*/
  /*main-frst content*/
  .main-frst{
    padding-top: 250px;
    height: 1025px;
    margin-top: -110px;
    background: url(../img/main-frst__tablet.jpg) 50% 50% no-repeat;
    background-size: cover;
    .title{
      width: 100%;
      font-size: 56px;
      line-height: 70px;
      margin-bottom: 30px;
    }
    .description{
      font-weight: 600;
    }
  }
  /**/
  /*main-scnd content*/
  .main-scnd__top{
    margin-bottom: 40px;
  }
  .title-block{
    width: 100%;
  }
  .price-block{
    width: 100%;
    height: 310px;
    background: 50% 50% no-repeat;
    background-size: contain;
  }
  /**/
  /*main-third*/
  .main-third{
    margin-bottom: 110px;
    .slider-card{
      height: 190px;
    }
  }
  .block-description{
    width: 50%;
    padding-right: 20px;
  }
  .block-bg{
    width: 50%;
  }
  /**/
  /*main-fourth*/
  .main-fourth{
    .slick-list{
      margin-left: -208px;
    }
  }
  .active-slide{
    order: 2;
    width: 100%;
    height: 435px;
  }
  .preview-description{
    width: 100%;
    margin: 0 0 50px 0;
    .wb-text{
      height: auto;
    }
  }
  /**/
  /*main-reviews*/
  .main-reviews{
    margin-bottom: 120px;
  }
  .reviews-card{
    width: calc(50% - 30px);
    height: 205px;
    &:nth-child(4) ~ .reviews-card{
      display: none;
    }
  }
  /**/
  /*main-partners*/
  .main-partners{
    margin-bottom: 100px;
  }
  .partner-card{
    height: 100px;
  }
  /**/
  /*main-info*/
  .main-info{
    padding: 80px 0;
    &__middle{
      margin-bottom: 28px;
    }
    &__bottom{
      justify-content: flex-start;
      margin:0 0 -18px -40px;
      img{
        margin: 0 0 18px 40px;
      }
    }
  }
  .block-info__content{
    align-items: flex-start;
    img{
      height: 70px;
      width: 82px;
    }
    .text{
      font-size: 16px;
      line-height: 22px;
      width: calc(100% - 150px);
    }
  }
  .block-aditional{
    align-items: flex-start;
    .wb-title__small{
      padding-left: 18px;
    }
  }
  /**/
  /*main-warranty*/
  .main-warranty{
    margin-bottom: 120px;
    &__container{
      display: block;
    }
  }
  .warranty-img{
    float: left;
    background: 30% 50% no-repeat; 
    background-size: cover;
    height: 420px;
  }
  .warranty-content{
    display: inline;
  }
  /**/
  /*main-form*/
  .main-form{
    .form{
      order: 1;
      width: 100%;
      margin-bottom: 60px;
    }
    .contacts{
      order: 2;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .wb-title{
        width: 100%;
      }
      &-content{
        width: 50%;
        margin: 0;
        &:nth-child(even){
          order: 1;
        }
        &:nth-child(odd){
          order: 2;
          margin-top: 15px;
        }
      }
    }
  }
  /**/
  /*==================*/
  /*FOOTER*/
  .footer{
    &-logo{
      padding-left: 20px;
      margin-right: 60px;
      img{
        width: 179px;
        height: 92px;
      }
    }
    &-contacts{
      width: calc(100% - 420px);
      .link + .link{
        margin: 20px 0 0 0;
      }
    }
    &-social{
      width: 160px;
      margin-bottom: -20px;
      &__item{
        margin: 0 20px 20px 0;
      }
    }
  }
  /*==================*/
}
@media (max-width: 719px){
  /*styles*/
  .wrapper{
    max-width: 576px;
  }
  .wb-title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .wb-title__small{
    font-size: 24px;
    margin-bottom: 35px;
  }
  /**/
  /*HEADER*/
  .header{
    &-content{
      padding: 10px 15px 0 15px;
      &__menu{
        padding: 10px 15px 47px 15px;
      }
    }
    &-list{
      width: 100%;
      font-size: 16px;
      &__item+&__item{
        margin-top: 40px;
      }
    }
    .mobile-img{
      margin: 0;
      width: 115px;
      height: 58px;
    }
    .hamburger{
      right: 15px;
      top: 30px;
    }
    &-logo{
      margin: 0 0 45px 0;
      img{
        width: 115px;
        height: 58px;
        margin: 0;
      }
      &+ .header-list{
        width: 100%;
        margin-top: 40px;
      }
    }
  }
  /**/
  /*main-frst*/
  .main-frst{
    position: relative;
    height: 580px;
    background: url(../img/main-frst__mobile.jpg) 50% 70%  no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    padding-top: 130px;
    .title{
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 29px;
    }
    .description{
      font-size: 16px;
      line-height: 22px;
    }
    .wb-btn{
      width: 100%;
      max-width: 330px;
      bottom: 15px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
  /**/
  /*main-scnd*/
  .main-scnd{
    margin-bottom: 80px;
  }
  .price-block{
    background: transparent!important;
    height: auto;
    margin: 0;
  }
  .circle-list{
    display: none;
  }
  .price-list{
    position: static;
    &__item+&__item{
      margin-top: 20px;
    }
    &__item{
      transition-delay: 0s;
      opacity: 1;
      transform: translateX(0);
      position: static;
      width: 100%;
      .title{
        font-size: 14px;
      }
      .price{
        font-size: 20px;
      }
    }
  }
  .list-title{
    display: block;
  }
  /**/
  /*main-third*/
  .main-third{
    margin-bottom: 80px;
  }
  .block-description{
    width: 100%;
  }
  .block-bg{
    display: none;
  }
  /**/
  /*main-fourth*/
  .main-fourth{
    margin-bottom: 60px;
    .slick-list{
      margin-left: -315px;
    }
  }
  .preview-description{
    margin-bottom: 40px;
  }
  .active-slide{
    height: 350px;
  }
  /**/
  /*main-reviews*/
  .main-reviews{
    margin-bottom: 80px;
  }

  /*main-partners*/
  .main-partners{
    margin-bottom: 80px;
  }
  .partner-card{
    width: calc(33.33% - 30px);
  }
  /**/
  .main-info{
    margin-bottom: 80px;
    &__top{
      margin-bottom: 45px;
    }
    &__middle .text{
      column-gap: 30px;
    }
  }
  .block-info{
    margin-bottom: 50px;
    width: 100%;
  }
  .block-aditional{
    width: 100%;
    .wb-title__small{
      padding-left: 0;
    }
  }
  /*main-warranty*/
  .warranty-img{
    display: none;
  }
  .main-warranty{
    .mobile-img{
      display: block;
      height: 350px;
      background: 50% 50% no-repeat;
      background-size: cover;
      margin-bottom: 40px;
    }
  }
  /**/
  /*footer*/
  .footer{
    height: 190px;
    &-logo{
      padding: 0;
      margin: 0;
      width: 43.5%;
      img{
        width: 115px;
        height: 58px;
      }
    }
    &-contacts{
      width: 56.4%;
    }
    &-social{
      width: 300px;
      margin: auto;
      justify-content: space-between;
      &__item{
        margin: 0;
      }
    }
  }
  /**/
}
@media (max-width: 575px){
  .wrapper{
    width: 100%;
  }
  /*main*/
  /*main-frst*/
  .main-frst{
    background: url(../img/main-frst__mobile.jpg) 50% 70%  no-repeat;
    background-size: cover;
    .title{
      font-size: 27px;
    }
  }
  /**/
  .wb-btn{
    margin-left: auto;
    margin-right: auto;
  }
  .main-reviews .wb-btn{
    margin: 30px auto 0;
  }
  /*main-scnd*/
  .price-list__item{
    .title{
      display: none;
    }
    .mobile-text{
      display: block;
    }
  }
  /**/
  /*.main-third*/
  .main-third .slider-card{
    height: auto;
    padding-top: 6%;
  }
  /**/
  /*main-fourth*/
  .preview-description .wb-btn{
    width: 330px;
  }
  .active-slide{
    height: auto;
    padding-top: 63%;
  }
  .main-fourth__slider{
    margin: auto;
    .slick-list{
      margin-left: -30px;
    }
  }
  .main-fourth .completed-card{
    height: auto;
    padding-top: 3.5%;
  }
  /**/
  /*main-reviews*/
  .main-reviews{
    .wb-btn{
      width: 330px;
    }
  }
  .reviews-card{
    height: auto;
    padding-top: 55%;
    width: calc(100% - 30px);
    &:nth-child(2) ~ .reviews-card{
      display: none;
    }
  }
  /*main-partners*/
  .partner-card{
    width: calc(50% - 30px);
  }
  /**/
  /*main-info*/
  .block-info img{
    margin-right: 30px;
  }
  .block-info__content .text{
    width: calc(100% - 112px);
  }
  .main-info__middle .text{
    columns: unset;
  }
  .main-info__bottom img{
    max-height: 40px;
    max-width: 115px;
  }
  /**/
  /*main-warranty*/
  .main-warranty .mobile-img{
    height: auto;
    padding-top: 70%;
  }
  .wb-btn.btn-black{
    width: 330px;
  }
  /**/
  /*main-form*/
  .form-field{
    width: 100%;
    &+ .form-field{
      margin: 20px 0 0;
    }
  }
  /**/
  /*main-form*/
  .main-form .contacts-content{
    order: unset!important;
    width: 100%;
    &+ .contacts-content{
      margin-top: 15px;
    }
  }
  /**/
  /*footer*/
  .footer-contacts i{
    display: none;
  }
  /**/
  /*slider*/
    /*slider*/
  .slick-dots {
    line-height: 1 !important;
    bottom: 5px !important;
  }
  .slick-dots:before {
    content: attr(data-current);
    font-size: 24px;
  }
  .slick-dots:after {
    content: "/" attr(data-lenght);
    font-size: 16px;
  }
  .slick-dots li {
    display: none !important;
  }
  /**/
}
/*===================*/